* {
    box-sizing: border-box;
    list-style: none;
}


.wrapper {
    display: flex;
    flex-direction: column;
}

.site-header {
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

.site-header__title {
    text-align: center;
    background-color: aquamarine;
}

nav {
    background-color: salmon;
    display: flex;
    justify-content: space-between;
}

a {
    display: inline-block;
}

main {
    background-color: lightgrey;
}

footer {
    background-color: pink;
}