* {
    box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

img {
    max-width: 100%;
    display: block;
  }

body {
    margin: 0 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 99vh;
    width: 100%;
    border: 2px solid red;
}

.site-header {
    display: flex;
    flex-direction: column;
    background-color: aqua;
}

.site-header__title {
    text-align: center;
    background-color: aquamarine;
}

.site-nav {
    background-color: salmon;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-nav__menu {
    display: flex;
    gap: 1rem;
}

main {
    background-color: lightgrey;
    }

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: pink;
    text-align: center;
    padding: 1rem;
}