* {
    box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

img {
    max-width: 100%;
    display: block;
  }

body {
    margin: 0 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 8fr 0.5fr;
    min-height: 99vh;
    max-height: 99vh;
    max-width: 60rem;
    margin: 0 auto;
    border: 2px solid red;
}

.site-header__wrapper {
    display: flex;
    flex-direction: column;
    background-color: aqua;
    border: 2px solid blue;
}

.site-header__title {
    text-align: center;
    background-color: aquamarine;
    border: 2px dashed blueviolet;
}

.site-nav {
    background-color: salmon;
    border: 2px solid black;
}

.site-nav__menu {
    display: flex;
    justify-content: space-evenly;
    border: 2px dashed wheat;
}

.site-nav__item {
    background-color: rgb(168, 42, 28);
    font-size: 2rem;
}

.site-main__wrapper {
    border: 2px solid orange;
    }

.site-main__content {
    background-color: bisque;
}

.site-footer__wrapper {
    border: 2px solid green;
}

.site-footer__content {
    background-color: pink;
    text-align: center;
    padding: 1rem;
}