* {
    box-sizing: border-box;
}

img {
    margin: 0;
    display: block;
}

.bg-image {
    background-image: url("background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center; /* Center the image */
    height: 100vh;
 }
 
body {
    background: linear-gradient(to bottom, #3996c6 22%, #50b8d6 48%, #042d42 78%);
    font-family: 'Optima', sans-serif, 'Perpetua', serif;
    color: #042d42;
    overflow-x: hidden;
    text-shadow: 2px 2px 2px grey;
}

.container-content {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.title {
    font-size: 8rem;
    text-align: center;
}

.button {
    background-color: rgb(203, 200, 200);
    color: #042d42;
    border: none;
    border-radius: 12px;
    padding: 2rem 3rem;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2rem;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button:hover {
    background-color: lightgray;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.animation-cloud-left-right {
    position: absolute;
    animation: linear infinite alternate;
    animation-name: cloud-left-right;
    animation-duration: 50s;
}

.animation-cloud-right-left {
    position: absolute;
    animation: linear infinite alternate;
    animation-name: cloud-right-left;
    animation-duration: 70s;
    transform: translateY(100%);
    
}

.animation-fade-in-title {
    position: relative;
    animation-name: fade-in-title;
    animation-duration: 10s;
    
}

@keyframes cloud-left-right {
    0% {left: -20%;}
    100% {left: 105%;}
}

@keyframes cloud-right-left {
    0% {right: -20%;}
    100% {right: 105%;}
}

@keyframes fade-in-title {
    0% {opacity: 0; transform: scale3d(0.3, 0.3, 0.3);}
    100% {opacity: 1;}

}
