.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 50px 1fr 1fr;
  max-width: 50rem;
}

.numbercontainer {
  display: grid;
  grid-template-columns: 2rem 2rem 2rem 2rem;
  grid-template-rows: 1rem 3rem 3rem 1rem 3rem 3rem 1rem;
}

.dots {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  max-width: 3rem;
}

.dots__dots {
  background-color: black;
  margin: 0.5rem;
  padding: 0.5rem;
}
