@media screen and (min-width: 1024px) {
    .wrapper {
        grid-template-columns: 10rem 1fr 1rem;
        grid-template-rows: 1fr 8fr 1fr;
        grid-template-areas:
        'site-header site-header site-header'
        'site-nav site-main site-aside'
        'site-footer site-footer site-footer';
    }

    .site-header {
        grid-area: site-header;
        border-bottom: 2px solid black;
    }

    .site-nav {
        grid-area: site-nav;
        border-top: 0;
        border-bottom: 0;
    }

    .site-nav__menu {
        flex-direction: column;
        gap: 1rem;
    }

    .site-main {
        grid-area: site-main;
        border-radius: 20px;
        border: 2px solid black;
    }

    .site-footer {
        grid-area: site-footer;
    }
}

@media screen and (min-width: 515px) {
    .site-nav__item {
        font-size: 2rem;
    }
}

@media screen and (max-width: 337px) {
    .site-nav__item {
        padding: 0;
    }
}
